<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Create Document</h2>
        <form action="/create" method="POST">
            <div class="mb-3">
                <input type="number" name="value" class="form-control" placeholder="value" required>
            </div>
            <div class="mb-3">
                <input type="number" name="wm_yr_wk" class="form-control" placeholder="wm_yr_wk" required>
            </div>
            <div class="mb-3">
                <input type="number" name="wday" class="form-control" placeholder="wday" required>
            </div>
            <div class="mb-3">
                <input type="number" name="month" class="form-control" placeholder="month" required>
            </div>
            <div class="mb-3">
                <input type="number" name="year" class="form-control" placeholder="year" required>
            </div>
            <div class="mb-3">
                <input type="number" name="snap_CA" class="form-control" placeholder="snap_CA" required>
            </div>
            <div class="mb-3">
                <input type="number" name="snap_TX" class="form-control" placeholder="snap_TX" required>
            </div>
            <div class="mb-3">
                <input type="number" name="sell_price" class="form-control" placeholder="sell_price" required>
            </div>
            <div class="mb-3">
                <input type="number" name="dept_id" class="form-control" placeholder="dept_id" required>
            </div>
            <div class="mb-3">
                <input type="number" name="week" class="form-control" placeholder="week" required>
            </div>
            <div class="mb-3">
                <input type="number" name="day" class="form-control" placeholder="day" required>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a href="/" class="btn btn-primary">Inicio</a>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
